.reveal h2 {
    font-weight: bold;
}

.reveal [data-background] h2 {
    padding: 30px;
}

.reveal section blockquote, .reveal section pre, .reveal [data-background] h2 {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 7px;
}

.reveal .slides section.bottom {
    top: 20%;
}

.reveal .slides section .top_spacer {
    top: 300px;
}
